*{
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
}

header {
    height: 180px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-image: url(../img/pattern.png);
    background-size: auto;
    background-color: rgb(78, 160, 255);
}


#logo{
    height: 200px;
    width: 250px;
    padding-top: 100px;
}

.title{
    font-size: 70px;
}

#article-author{
    color: rgb(78, 160, 255);
    margin-left: 0;
}

.article-info{
    font-size: 30px;
    color: grey;
}

.article-date{
    font-size: 20px;
    color: grey;
}

.tim-image{
    display: inline-block;
    margin-top: 40px;
}

.image-infos{
    font-size: 20px;
}

.article-paragraph{
    font-size: 20px;
    margin-top: 30px;
}

.unordered-list{
    font-size: 20px;
    padding-left: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.table-margin{
    font-size: 20px;
    text-align: left;
    border-collapse: collapse;

}

.table-head{
    background-color: rgb(78, 160, 255);
    color: white;
    border-collapse: collapse;
}

.table-body1{
    background-color: lightblue;

}

.third-table{
    width: 50%;

}

.table-foot{
    background-color: lightblue;

}

.underline-yellow{
    background-color: yellow;
    margin: 0;

}

.title-footer{
    margin-top: 20px;
    color: grey;
    font-size: 25px;

}

.footer-img1{
    margin-top: 10px;
    font-size: 25px;
    padding: 10px;
    color: white;
    height: 250px;
    width: 300px;
    background-image: url(../img/monitor.jpg);
    background-size: cover;
}

.footer-img2{
    margin-top: 10px;
    font-size: 25px;
    padding: 10px;
    color: white;
    height: 250px;
    width: 300px;
    background-image: url(../img/graph.jpg);
    background-size: cover;
    margin-bottom: 30px;
}